#colors {
    display: flex;
    justify-content: space-around;
}

.color {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.colorHex {
    cursor: pointer;

    margin: auto;
    text-align: center;
    color: black;
    background-color: #FFFFFF77;
    font-weight: bold;
    box-sizing: border-box;

    padding: 10px;
    border-radius: 10px;

    transition: all .3s;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: solid 2px black;
}

.colorHex:hover {
    background-color: #FFFFFF55;
}

.colorHex:active {
    background-color: #FFFFFFCC;
}

.invalidColor{
    background-color: #AA0000CC;
    border: solid 2px red;
}

.colorName {
    font-size: small;
    text-align: left;
    padding: 0;
    margin: 10px;
}

.colorValue {
    font-size: small;
    text-align: right;
    padding: 0;
    margin: 10px;
}

.lock {
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    color: black;
}

.lock:hover {
    text-shadow: 0 0 5px gray;
    transform: scale(1.5);
}

.lock:active {
    text-shadow: 0 0 5px gray;
    transform: scale(1.2);
}

.locked {
    color: #001100;
    text-shadow: 0 0 5px #00FF00;
}

.locked:hover {
    text-shadow: 0 0 5px gray;
}

.locked:active {
    text-shadow: 0 0 5px black;
}


.rgbValues {
    margin: auto;
    text-align: center;
    white-space: pre;
}

.addBetween {
    font-weight: bold;
    overflow: hidden;

    width: 10px;
    height: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    border: solid 3px transparent;

    cursor: pointer;

    transition: all .3s;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    box-sizing: border-box;
}

.addBetween:hover {
    border: solid 3px white;
}

.addBetween:active {
    border: solid 3px black;
    border-top: none;
    border-bottom: none;
}

.deleteContainer {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.delete {
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin: auto;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    color: black;
}

.delete:hover {
    text-shadow: 0 0 5px gray;
    transform: scale(1.5);
}

.delete:active {
    text-shadow: 0 0 5px gray;
    transform: scale(1.2);
}


.copied {
    color: #88ff88 !important;
    text-shadow: 0 0 10px #88ff88 !important;
    transition: all .5s;
}

.colorVoid {
    margin: auto;
}

@media screen and (orientation:landscape) {
    #colors {
        flex-direction: row;
    }

    .color {
        min-height: 100vh;
        flex-direction: column;
    }

    .addBetween {
        border-top: none;
        border-bottom: none;
        min-height: 100vh;
    }

    .addBetween:hover {
        border-top: none;
        border-bottom: none;
        min-height: 100vh;
    }

    .addBetween:active {
        border-top: none;
        border-bottom: none;
        min-height: 100vh;
    }

    .deleteContainer {
        flex-direction: row;
    }

    .colorName {
        height: 30px;
    }
}

@media screen and (orientation:portrait) {
    #colors {
        flex-direction: column;
    }

    .color {
        min-width: 100vw;
        flex-direction: row;
    }

    .addBetween {
        border-right: none;
        border-left: none;
        min-width: 100vw;
    }

    .addBetween:hover {
        border-right: none;
        border-left: none;
    }

    .addBetween:active {
        border-right: none;
        border-left: none;
    }

    .deleteContainer {
        flex-direction: column;
    }

    .colorName {
        width: 20vw;
    }

    .rgbValues {
        display: none;
    }
    
    .colorVoid {
        display: none;
    }
}

@media screen and (max-height: 500px) {

    .rgbValues {
        display: none;
    }

}