
#panelControl {
    box-shadow: 5px 5px 10px #00000099;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    padding-left: 2vh;
    padding-right: 3vh;

    z-index: 9999;

    box-sizing: border-box;
}

#moreControl {
    box-shadow: 5px 5px 10px #00000099;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    padding-left: 3vh;
    padding-right: 3vh;

    z-index: 19999;

    box-sizing: border-box;
}

#panelGen, #panelGenChoices {
    box-shadow: 5px 5px 10px #00000099;
    background-color: white;
    position: fixed;

    border-radius: 5vh;
    height: 5vh;

    top: 30px;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 5px;
    padding-left: 3vh;
    padding-right: 3vh;

    z-index: 29999;

    margin: auto;
    left: 50vw;
    transform: translate(-50%, 0);

    box-sizing: border-box;
}

#panelGen {
    opacity: .75;
}

#panelGenChoices {
    min-width: 50vw;
}

.genChoice {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    transition: all .5s;
}

.genButton {
    cursor: pointer;
}

.genIconChoice {
    font-size: calc(5vh - 20px);
    color: black;
    transition: all .2s;
}

.genDescriptionChoice {
    font-size: 10px;
    color: #777777;
    transition: all .2s;
}

.selectedBtnGen, .selectedBtnGen .genIconChoice, .selectedBtnGen .genDescriptionChoice {
    text-shadow: 0 0 5px #005500 !important;
    color: #005500 !important;
}


.genButton:hover .genIconChoice {
    transform: scale(1.3);
}

.genButton:hover .genDescriptionChoice {
    color: #222222;
}

.genButton:active .genIconChoice {
    transform: scale(1.02);
}

.navButton {
    cursor: pointer;
    text-align: center;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: black;
}

.btnIcon {
    transform: scale(1);
    transition: all .3s;
}

.btnIcon:hover {
    text-shadow: 0 0 5px gray;
    transform: scale(1.2);
}

.btnIcon:active {
    text-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

.btnDisabled {
    text-align: center;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: gray;
}

.btnDescription {
    font-size: x-small;
    color: gray;
    text-align: center;
}

.btnKey {
    border: solid 1px gray;
    padding: 1px;
    border-radius: 3px;
    color: gray;
    font-size: xx-small;
    text-align: center;
}

#logoNavBar {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#openControl {
    box-shadow: 5px 5px 10px #00000099;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    left: calc(50vw - 40px);
    bottom: 0px;

    cursor: pointer;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    z-index: 9000;
}

#openControl:hover .arrowOpen {
    transform: translateY(-10px);
}

.arrowOpen {
    width: 100%;
    transform: translateY(-5px);
    transition: all .3s;
}

/* Labels */

.moreLabels {
    cursor: default;
    text-align: center;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: black;
}

.labelModify {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.labelButton {
    background-color: lightgray;
    color: black;
    border-radius: 2px;
    text-align: center;
    transition: all .3s;
}

.labelButton:hover {
    background-color: darkgray;
}

.labelButton:active {
    background-color: gray;
}

.verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelValue {
    border-radius: 1vh;
}

#hueLabel {
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    color: black;
}

#satLabel {
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 0, 0, 1) 100%);
    color: black;
}

#valLabel {
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 0, 0, 1) 100%);
    color: black;
}

