html,
body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
}

#panelControl {
    box-shadow: 5px 5px 10px #00000099;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    padding-left: 2vh;
    padding-right: 3vh;
}

.navButton {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: black;
}

.btnIcon {
    transform: scale(1);
    transition: all .3s;
}

.btnIcon:hover {
    text-shadow: 0 0 5px gray;
    transform: scale(1.2);
}

.btnIcon:active {
    text-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

.btnDisabled {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: gray;
}

.btnDescription {
    font-size: x-small;
    color: gray;
    text-align: center;
}

.btnKey {
    border: solid 1px gray;
    padding: 1px;
    border-radius: 3px;
    color: gray;
    font-size: xx-small;
    text-align: center;
}

#logoNavBar {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#openControl {
    box-shadow: 5px 5px 10px #00000099;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    left: calc(50vw - 40px);
    bottom: 0px;

    cursor: pointer;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#openControl:hover .arrowOpen {
    transform: translateY(-10px);
}

.arrowOpen {
    width: 100%;
    transform: translateY(-5px);
    transition: all .3s;
}

@media screen and (orientation:landscape) {
    #openControl {
        opacity: .5;
    }

    #panelControl {
        width: 50vw;
        height: 7vh;
        border-radius: 3.5vh;
        left: 25vw;
        bottom: 30px;
        box-sizing: border-box;
    }

    #logoNavBar {
        width: calc(7vh - 10px);
        height: calc(7vh - 10px);
    }
}

@media screen and (orientation:portrait) {
    #panelControl {
        width: 90vw;
        height: 5vh;
        border-radius: 2.5vh;
        left: 5vw;
        bottom: 0px;
        box-sizing: border-box;
    }

    #logoNavBar {
        width: calc(5vh - 10px);
        height: calc(5vh - 10px);
    }

    .btnKey {
        display: none;
    }

    .navButton {
        font-size: x-large;
    }

    .btnDisabled {
        font-size: x-large;
    }
}

@media screen and (max-height: 800px) {

    .btnKey {
        display: none;
    }

}

@media screen and ((max-height: 660px) or ((orientation:portrait) and (max-height: 900px))) {

    .btnDescription {
        display: none;
    }

    .navButton {
        font-size: x-large;
    }

    .btnDisabled {
        font-size: x-large;
    }
}

/* ----------- SCROLLBAR ----------- */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #00000000;
}

::-webkit-scrollbar:hover {
    width: 8px;
    height: 8px;
    background: #00000000;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    height: 8px;
    background-color: #00000000;
    border: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: white;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: gray;
}

::-webkit-scrollbar-thumb:active {
    background-color: black;
}