:root {
    --hue: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    --sat: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 0, 0, 1) 100%);
    --val: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 0, 0, 1) 100%);
}

html,
body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Lucida Console', monospace;
}

#panelControl {
    box-shadow: 5px 5px 10px #00000099;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    padding-left: 2vh;
    padding-right: 3vh;

    z-index: 9999;
}

#moreControl {
    box-shadow: 5px 5px 10px #00000099;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    padding-left: 3vh;
    padding-right: 3vh;

    z-index: 19999;
}

.navButton {
    cursor: pointer;
    text-align: center;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: black;
}

.btnIcon {
    transform: scale(1);
    transition: all .3s;
}

.btnIcon:hover {
    text-shadow: 0 0 5px gray;
    transform: scale(1.2);
}

.btnIcon:active {
    text-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

.btnDisabled {
    text-align: center;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: gray;
}

.btnDescription {
    font-size: x-small;
    color: gray;
    text-align: center;
}

.btnKey {
    border: solid 1px gray;
    padding: 1px;
    border-radius: 3px;
    color: gray;
    font-size: xx-small;
    text-align: center;
}

#logoNavBar {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#openControl {
    box-shadow: 5px 5px 10px #00000099;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    background-color: white;
    position: fixed;

    transition: all .15s;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    left: calc(50vw - 40px);
    bottom: 0px;

    cursor: pointer;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    z-index: 9000;
}

#openControl:hover .arrowOpen {
    transform: translateY(-10px);
}

.arrowOpen {
    width: 100%;
    transform: translateY(-5px);
    transition: all .3s;
}

#rulesBackground {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 90000;
    background-color: #00000088;
    display: none;
    transform: scale(0);
    flex-direction: column;
    justify-content: space-around;
}

#closeRules {
    position: fixed;
    top: calc(10vh + min(5vh, 5vw));
    right: calc(10vw + min(5vh, 5vw));
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    transform: scale(1);
    transition: all .3s;

    cursor: pointer;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#closeRules:hover {
    text-shadow: 0 0 5px gray;
    transform: scale(1.2);
}

#closeRules:active {
    text-shadow: 0 0 5px gray;
    transform: scale(1.1);
}

#rulesPanel {
    box-shadow: 8px 8px 15px #00000099;
    color: black;
    width: 80vw;
    height: 80vh;
    margin: auto;
    background-color: white;
    border-radius: min(10vh, 10vw);

    overflow: hidden;
}

#rulesTitle {
    padding-left: min(10vh, 10vw);
    padding-right: min(10vh, 10vw);
    margin-top: min(5vh, 5vw);
    text-align: center;
    font-family: 'Lucida Console', monospace;

    cursor: default;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.moreLabels {
    cursor: default;
    text-align: center;
    font-weight: bold;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: black;
}

.labelModify {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.labelButton {
    background-color: lightgray;
    color: black;
    border-radius: 2px;
    text-align: center;
    transition: all .3s;
}

.labelButton:hover {
    background-color: darkgray;
}

.labelButton:active {
    background-color: gray;
}

.verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;}

.labelValue {
    border-radius: 1vh;
}

#hueLabel {
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
    color: black;
}

#satLabel {
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 0, 0, 1) 100%);
    color: black;
}

#valLabel {
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 0, 0, 1) 100%);
    color: black;
}



@media screen and (orientation:landscape) {
    #openControl {
        opacity: .5;
    }

    #panelControl {
        width: 50vw;
        height: 7vh;
        border-radius: 3.5vh;
        left: 25vw;
        bottom: 30px;
        box-sizing: border-box;
    }

    #moreControl {
        width: 50vw;
        height: 7vh;
        border-radius: 3.5vh;
        left: 25vw;
        bottom: calc(40px + 7vh);
        box-sizing: border-box;
    }

    #logoNavBar {
        width: calc(7vh - 10px);
        height: calc(7vh - 10px);
    }

    .navButton {
        font-size: calc(7vh - 35px);
    }

    .btnDisabled {
        font-size: calc(7vh - 35px);
    }


    .labelValue {
        font-size: calc(7vh - 35px);
        width: calc(7vh - 35px);
        height: calc(7vh - 35px);
    }

    .labelButton {
        font-size: calc(7vh - 35px);
        width: calc(7vh - 35px);
        height: calc(7vh - 35px);
    }
}

@media screen and (orientation:portrait) {
    #panelControl {
        width: 90vw;
        height: 5vh;
        border-radius: 2.5vh;
        left: 5vw;
        bottom: 0px;
        box-sizing: border-box;
    }

    #moreControl {
        width: 90vw;
        height: 5vh;
        border-radius: 2.5vh;
        left: 5vw;
        bottom: calc(5vh + 10px);
        box-sizing: border-box;
    }

    #logoNavBar {
        width: calc(5vh - 10px);
        height: calc(5vh - 10px);
    }

    .btnKey {
        display: none;
    }

    .navButton {
        font-size: calc(5vh - 20px);
    }

    .btnDisabled {
        font-size: calc(5vh - 20px);
    }


    .labelValue {
        font-size: calc(5vh - 20px);
        width: calc(5vh - 20px);
        height: calc(5vh - 20px);
    }

    .labelButton {
        font-size: calc(5vh - 25px);
        width: calc(5vh - 25px);
        height: calc(5vh - 25px);
    }
}

@media screen and (max-height: 800px) {

    .btnKey {
        display: none;
    }

}

@media screen and ((max-height: 660px) or ((orientation:portrait) and (max-height: 900px))) {

    .btnDescription {
        display: none;
    }

    .navButton {
        font-size: calc(7vh - 10px);
    }

    .btnDisabled {
        font-size: calc(7vh - 10px);
    }


    .labelValue {
        font-size: min( max( calc(7vh - 20px), 6vh), 5vw );
        width: min( max( calc(7vh - 20px), 6vh), 5vw );
        height: min( max( calc(7vh - 20px), 6vh), 5vw );
    }

    .labelButton {
        font-size: min( max(calc(7vh - 25px), 5vh), 4vw );
        width: min( max(calc(7vh - 25px), 5vh), 4vw );
        height: min( max(calc(7vh - 25px), 5vh), 4vw );
    }
}

/* ----------- SCROLLBAR ----------- */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #00000000;
}

::-webkit-scrollbar:hover {
    width: 8px;
    height: 8px;
    background: #00000000;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    height: 8px;
    background-color: #00000000;
    border: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: white;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: gray;
}

::-webkit-scrollbar-thumb:active {
    background-color: black;
}